# Common file for apps that rely on root context
.git
.github
.husky
audits
docs
docker-setup
scripts
**/node_modules
**/build
**/dist
**/tsconfig.tsbuildinfo

# Core package artifacts
# Hardhat files
**/abis
**/artifacts
**/cache
**/.deps
# TypeScript bindings output directory
**/typechain-types

# Docker-related
.dockerignore
**/Dockerfile*
**/docker-compose*

# Local .env files
**/.env.local
