{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "semi": true,
        "printWidth": 80,
        "explicitTypes": "always"
      }
    }
  ]
}
