.shadow-icon{
  display: flex;
  gap: 16px;
  height: 90px;
  &__icon {
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    transform: translateY(17%);
    width: 130px;
    height: 130px;
  }
  span{
    padding-top: 20px;
    font-size: 28px;
    font-weight: bold;
  }

    @media (max-width: 400px) {
      span {
        padding-top: 30px;
        font-size: 20px;
      }
    }
}
