.shadow-icon{
  display: flex;
  gap: 16px;
  height: 90px;
  img {
    width: 130px;
    height: 130px;
  }
  span{
    padding-top: 20px;
    font-size: 28px;
    font-weight: bold;
    @media (max-width: 400px) {
      padding-top: 30px;
      font-size: 20px;
    }
  }
}
