html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.alertWidth{
  width:"30%";
}

.boxFlexGrow{
  flex-grow:8px !important;
}

.marginTop1 {
  margin-top:8px !important;
}
.marginTop2 {
  margin-top:16px !important;
}
.marginTop3 {
  margin-top:24px !important;
}
.marginBottom3 {
  margin-bottom:24px !important;
}
.marginBottom2 {
  margin-bottom:16px !important;
}
.marginBottom10 {
  margin-bottom:80px !important;
}
.minWidth275 {
  min-width: 275px;
}

.fontSize14{
  font-size:1.5rem !important;
}
.alertWidth100{
width:"100%";
}
.height100{
  height: "100%";
}

.marginLeft2{
  margin-left:16px !important;
} 
.marginRight2{
  margin-right:16px !important;
}

.boxBg{ width: '100%';height:"100%"; background-color: 'background.paper'; }