services:
  oracle-postgres:
    image: postgres:14.4
    restart: on-failure
    environment:
      POSTGRES_PASSWORD: 'admin'
      POSTGRES_USER: 'admin'
      POSTGRES_DB: 'recording_oracle'
      PGDATA: '/var/lib/postgresql/data/pgdata'
    volumes:
      - postgres:/var/lib/postgresql/data/pgdata
    ports:
      - 5434:5432
    command: ["postgres", "-c", "log_statement=all"]

volumes:
  postgres: