[tool.poetry]
name = "recording-oracle"
version = "0.1.0"
description = "An example of recording with with CVAT as an annotation instrument"
authors = ["Sergey Dzeranov <sergey.dzeranov@gmail.com>", "Marius Hamacher <marius.hamacher@outlook.de>"]
readme = "README.md"
packages = [{include = "recording_oracle"}]

[tool.poetry.dependencies]
python = "^3.10, <3.13"
fastapi = "^0.98.0"
uvicorn = "^0.22.0"
python-dotenv = "^1.0.0"
SQLAlchemy = "^2.0.17"
psycopg2 = "^2.9.6"
APScheduler = "^3.10.1"
pytest = "^7.4.0"
human-protocol-sdk = "^3.0.0"
alembic = "^1.11.1"
httpx = "^0.24.1"
numpy = "^1.25.2"
boto3 = "^1.28.40"
google-cloud-storage = "^2.14.0"
datumaro = {git = "https://github.com/cvat-ai/datumaro.git", rev = "ff83c00c2c1bc4b8fdfcc55067fcab0a9b5b6b11"}

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
pre-commit = "^3.3.3"
hypothesis = "^6.82.6"
isort = "^5.12.0"

[tool.isort]
profile = "black"
forced_separate = ["tests"]
line_length = 100
skip_gitignore = true # align tool behavior with Black

[tool.black]
line-length = 100
target-version = ['py310']

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
