name: Core NPM publish

on:
  release:
    types: [published]

jobs:
  core-publish:
    name: Core NPM Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: yarn
        name: Install dependencies
      - run: yarn compile
        name: Compile smart contracts
        working-directory: ./packages/core
      - name: Change core version
        uses: jossef/action-set-json-field@v2
        with:
          file: ./packages/core/package.json
          field: version
          value: ${{ github.event.release.tag_name }}
      - uses: JS-DevTools/npm-publish@v1
        with:
          package: ./packages/core/package.json
          access: public
          token: ${{ secrets.NPM_TOKEN }}
