name: Subgraph deployment

on:
  push:
    branches:
      - main
    paths:
      - packages/sdk/typescript/subgraph/**
      - .github/workflows/cd-subgraph.yaml
  workflow_dispatch:

jobs:
  subgraph:
    name: Deploy Subgraph
    runs-on: ubuntu-latest
    strategy:
      matrix:
        network:
          - name: matic
            graph: polygon-v2
          - name: goerli
            graph: goerli-v2
          - name: moonbeam
            graph: moonbeam-v2
          - name: bsc
            graph: bsc-v2
          - name: chapel
            graph: bsctest-v2
          - name: mumbai
            graph: mumbai-v2
          - name: mbase
            graph: moonbase-alpha-v2
          - name: mainnet
            graph: mainnet-v2
          - name: fuji
            graph: fuji-v2
          - name: avalanche
            graph: avalanche-v2
          - name: celo
            graph: celo
          - name: celo-alfajores
            graph: celo-alfajores
          - name : xlayer-testnet
            graph: xlayer-testnet
          - name: xlayer
            graph: xlayer
      fail-fast: true
      max-parallel: 3
    steps:
      - uses: actions/checkout@v4
      - run: yarn --ignore-scripts
        name: Install dependencies
      - run: yarn build
        name: Build core package
        working-directory: ./packages/core
      - run: yarn global add @graphprotocol/graph-cli
        name: Install Graph CLI
      - run: graph auth --product hosted-service ${API_KEY}
        name: Authenticate Graph CLI
        env:
          API_KEY: ${{ secrets.HP_GRAPH_API_KEY }}
      - run: yarn generate
        name: Generate Subgraph
        working-directory: ./packages/sdk/typescript/subgraph
        env:
          NETWORK: ${{ matrix.network.graph }}
      - run: graph deploy --product hosted-service humanprotocol/${NETWORK}
        name: Deploy Subgraph
        working-directory: ./packages/sdk/typescript/subgraph
        env:
          NETWORK: ${{ matrix.network.graph }}
