name: CVAT Exchange Oracle Tests

on:
  push:
    tags-ignore: '*'
    paths:
      - 'packages/examples/cvat/exchange-oracle/**'
      - 'packages/sdk/python/human-protocol-sdk/**'

jobs:
  cvat-exo-test:
    name: CVAT Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: CVAT Exchange Oracle tests
        working-directory: ./packages/examples/cvat/exchange-oracle
        run: docker compose -f docker-compose.test.yml up --attach test --exit-code-from test
