name: Faucet server check

on:
  push:
    tags-ignore: '*'
    paths:
      - "packages/core/**"
      - "packages/sdk/typescript/human-protocol-sdk/**"
      - "packages/apps/faucet/server/**"

jobs:
  faucet-server-test:
    name: Faucet Server Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build libs
        run: yarn build:libs
      - name: Create .env file
        run: cp .env.example .env
        working-directory: packages/apps/faucet/server
      - name: Run faucet/server test
        run: yarn workspace @apps/faucet-server test
