name: Subgraph check

on:
  push:
    tags-ignore: '*'
    paths:
      - "packages/core/**"
      - "packages/sdk/typescript/subgraph/**"

jobs:
  subgraph-test:
    name: Subgraph Test
    # TODO: Use ubuntu-latest when graph binary is not failing on ubuntu 24.04
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build core package
        run: yarn workspace @human-protocol/core build
      - name: Generate manifest for Polygon for tests
        run: NETWORK=polygon yarn workspace @tools/subgraph generate
      - name: Run subgraph test
        run: yarn workspace @tools/subgraph test
