name: Python Base Models Check

on:
  pull_request:
  workflow_dispatch:

jobs:
  python-test:
    name: Python Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v1
        with:
          python-version: '3.10'
      - name: Install pipenv
        run: pip install pipenv
      - name: Python test
        working-directory: ./packages/sdk/python/human-protocol-basemodels
        run: |
          pipenv install --dev
          make run-test
