name: Subgraph check

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  subgraph-test:
    name: Subgraph Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm install --global yarn && yarn
        name: Install dependencies
      - run: yarn subgraph:test
        name: Run subgraph test
