name: Job Launcher Check

on:
  push:
    tags-ignore: '*'
    paths:
      - "packages/core/**"
      - "packages/sdk/typescript/human-protocol-sdk/**"
      - "packages/apps/job-launcher/**"

jobs:
  job-launcher-server-test:
    name: Job Launcher Server Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build libs
        run: yarn build:libs
      - name: Run Job Launcher Server test
        run: yarn workspace @apps/job-launcher-server test
