name: Fortune check

on:
  pull_request:
  workflow_dispatch:

jobs:
  fortune-test:
    name: Fortune Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install --global yarn && yarn --ignore-scripts
        name: npm Install dependencies
      - run: yarn fortune:test
        name: Run fortune test
