name: Reputation Oracle Check

on:
  push:
    tags-ignore: '*'
    paths:
      - "packages/core/**"
      - "packages/sdk/typescript/human-protocol-sdk/**"
      - "packages/apps/reputation-oracle/**"

jobs:
  reputation-oracle-test:
    name: Reputation Oracle Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build libs
        run: yarn build:libs
      - name: Run reputation oracle test
        run: yarn workspace @apps/reputation-oracle test
