name: Protocol check

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  core-test:
    name: Core Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm install --global yarn && yarn
        name: Install dependencies
      - run: yarn core:test
        name: Run protocol test
