$maWhite: #F6F7FE;
$primary: #320A8D;
$white: #fff;
$sky: #858EC6;
$skyOpacity: #DADEF0CC;
$secondary: #6309FF;
$lilacSachet: #AEB4D9;
$ghostWhite: #F9FAFF;
$whiteSolid: #F6F5FC;
$groundwaterOpacity: #1406B20A;
$medium: #FFB300;
$mediumBorder: #FFD54F;
$low: #ED6C02;
$lowBorder: #ED6C0280;
$high: #0AD397;
$highBorder: #2E7D3280;
$soon: #304FFE;
$soonBorder: #8C9EFF;