@use 'const';

footer {

  @media(max-width: 600px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: const.$maWhite;
    margin-top: 32px;
  }

  .footer-wrapper {
    display: flex;
    padding: 32px 44px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    @media (max-width: 600px) {
      flex-direction: column-reverse;
      padding: 32px 16px;
    }
  }

  .footer-link {
    gap: 24px;
    margin-bottom: 24px;
    align-items: flex-start;
  }

  .footer-icon {
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 0;
    align-items: center;

    @media (max-width: 600px) {
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 32px;
    }

    @media (max-width: 1100px) {
      margin-bottom: 32px;
    }
  }

  .footer-link, .footer-icon {
    display: flex;
    flex-wrap: wrap;

    span {
      cursor: pointer;
      font-size: 12px;
    }
  }

  @media (max-width: 1100px) {
    .footer-link-wrapper {
      .footer-link {
        flex-direction: column;
      }
    }
  }
}
