@use 'const';

.layout {
	min-height: 100dvh;

	& .MuiToolbar-root {
		padding: 0;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		padding: 0px 56px;
		
		@media (min-width: 601px) and (max-width: 1200px) {
			padding: 0px 40px;
		}

		@media (max-width: 600px) {
			padding: 0px 24px
		}
	}
}

.violet-header {
	border-radius: 20px;
	background-size: 100% 100%;
	background: linear-gradient(to bottom, const.$primary 254px, const.$maWhite 1px);
  min-height: calc(100dvh - 212px);
  padding-top: 32px;

	@media (max-width: 600px) {
		border-radius: 0;
		height: auto;
    margin-left: -24px;
    margin-right: -24px;
    padding-top: 16px;
    padding-bottom: 32px;
	}
}